<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Travel App</title>
        <link rel="icon" href="../images/travel_24dp.png" />
    </head>

    <body>
        <div>
            <div class="header-container">
                <header class="header">Travel Planner</header>
                <form
                    class="add-trip-form"
                    id="add-trip-form"
                    action=""
                    method="post"
                >
                    <div class="add-trip-form__input-container">
                        <label for="destination">Where</label>
                        <input
                            class="add-trip-form__input"
                            type="text"
                            id="destination"
                            name="destination"
                            placeholder="Enter destination"
                            size="14"
                            required
                        />
                    </div>
                    <div class="form__divider"></div>
                    <div class="add-trip-form__input-container">
                        <label for="start-date">Start</label>
                        <input
                            class="add-trip-form__input"
                            type="date"
                            id="start-date"
                            name="start-date"
                            required
                        />
                    </div>
                    <div class="form__divider"></div>
                    <div class="add-trip-form__input-container">
                        <label for="end-date">End</label>
                        <input
                            class="add-trip-form__input"
                            type="date"
                            id="end-date"
                            name="end-date"
                            required
                        />
                    </div>
                    <div class="form__button-container">
                        <button class="form__button">
                            <img
                                src="../images/add_circle_32_white.png"
                                width="20"
                                alt=""
                            />
                            &nbsp;&nbsp;Add
                        </button>
                    </div>
                </form>
            </div>

            <div class="divider"></div>

            <main>
                <div class="trip-list" id="trip-list">
                    <div class="trip-card-empty" id="trip-card-empty">
                        No trips yet!!!
                    </div>
                </div>
                <template id="trip-card-template">
                    <div class="trip-card">
                        <div class="trip-card__imagecontainer">
                            <div class="trip-card__image skeleton"></div>
                        </div>
                        <div class="trip-card__info">
                            <div class="trip-card__text-box">
                                <div
                                    class="trip-card__title skeleton skeleton-text"
                                ></div>
                                <div
                                    class="trip-card__title skeleton skeleton-text"
                                ></div>
                            </div>
                            <div class="trip-card__text-box">
                                <div
                                    class="trip-card__text skeleton skeleton-text"
                                ></div>
                            </div>
                            <div class="trip-card__text-box">
                                <div
                                    class="trip-card__text skeleton skeleton-text"
                                ></div>
                                <div
                                    class="trip-card__text skeleton skeleton-text"
                                ></div>
                                <div
                                    class="trip-card__text skeleton skeleton-text"
                                ></div>
                            </div>
                        </div>
                        <div class="trip-card__button-container">
                            <div class="trip-card__button skeleton"></div>
                        </div>
                    </div>
                </template>
            </main>
        </div>
        <footer class="footer">
            <h2>Travel Planner app project</h2>
            <br />
            <p>Copyright &copy;2024 Ivan</p>
        </footer>

        <script>
            // Check that service workers are supported
            if ("serviceWorker" in navigator) {
                // Use the window load event to keep the page load performant
                window.addEventListener("load", () => {
                    navigator.serviceWorker.register("/service-worker.js");
                });
            }
        </script>
    </body>
</html>
