//Font
@font-face {
    font-family: 'Roboto Light';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url(../fonts/Roboto-Light.ttf);
}

/* || VARIABLES */
:root {
    --COLOR-WHITE: white;
    --COLOR-OFFWHITE: #F1E6D6;
    
    --COLOR-GRAY-DARK: #4b5156;
    --COLOR-GRAY: #b2b6b9;
    --COLOR-GRAY-LIGHT: #e3e5e7;
    --COLOR-GRAY-LIGHT2: #f5f5f5;
    
    --COLOR-GREEN: #137353;
    --COLOR-DARK-GREEN: #293F32; 
    --COLOR-WOOD: rgba(180,159,137,1);
}

/* || UTILITY CLASSES */
.debug {
    /* background-color: burlywood; */
    border: 1px solid red;
}

.circle {
    border-radius: 10%;
} 


/* || GENERAL STYLES */
html {
    font-family: 'Roboto Light';
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 24px;
}

section {
    max-width: 800px;
    margin: 50px auto;
}

input {
    font-family: inherit;
    font-size: inherit;
    font-weight: bold;
    border: none;
    outline: none;
}

/* || BLOCKS */
/* naming: .blk */
.header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header-title {
    font-weight: bold;
    font-size: 1.5em;
    color: var(--COLOR-GREEN);
    
}

 .add-trip-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid var(--COLOR-GRAY-LIGHT);
    border-radius: 24px;
    box-shadow: 
        0px 3px 12px 0px rgba(0, 0, 0, 0.1), 0px 1px 2px 0px rgba(0, 0, 0, 0.08);
    font-size: small;
    font-weight: bold;
}


.button-container {
    padding: 12px;
}

.add-button {
    display: flex;
    align-items: center;
    border-radius: 15px;
    text-decoration: none;
    color: var(--COLOR-WHITE);
    font-size: small;
    padding: 12px 20px 12px 20px;
    width: 120px;
    height: 35px;
    background-color: var(--COLOR-GREEN);
}

.divider {
    border-bottom: 1px solid var(--COLOR-GRAY-LIGHT);
    margin-top: 24px;
    width: 95%;
}

.trip-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* || ELEMENTS */
/* no standalone meaning - semantically tied to the block */
/* naming: .blk__item */
.add-trip-bar__item {
    display: flex;
    flex-direction: column;
}

.add-trip-bar__label {
    padding: 12px 6px 8px 12px;
}

.add-trip-bar__item-divider {
    border-left: none;
}

.add-button__item {
    margin-left: 5px;

}

.trip-card__image {
    
}

.trip-card__info {
    
}


/* || MODIFIERS */
/* inremental style changes  */
/* naming: .blk--mod */



@media (min-width: 600px) {
    .add-trip-bar {
        flex-direction: row;
    }

    .button-container {
        padding: 14px 14px 14px 0px;
    }
    
    .add-button {
        width: auto;
    }
    
    .add-trip-bar__label {
        padding: 14px 18px 14px 24px;
    }

    .add-trip-bar__item-divider {
        border-left: 1px solid var(--COLOR-GRAY-LIGHT);
        height: 32px;
    }

    .trip-card {
        display: grid;
        grid-template-columns: 1fr 3fr;
        grid-template-rows: auto;
        grid-template-areas: 
        "img info info info";
    }

    .trip-card__image {
        grid-area: img;
    }
    
    .trip-card__info {
        grid-area: info;
    }

}
  
  
@media (min-width: 1200px) {
        
}

/* opacity: 1;
color: rgba(180,159,137,1);
font-family: "PlayfairDisplay-Regular";
font-size: 272px;
font-weight: 400;
font-style: normal;
letter-spacing: 0px;
text-align: center;
text-transform: uppercase; */
