@use "core";

/* || VARIABLES */

/* Placeholder classes */

/* || UTILITY CLASSES */

/* || GENERAL STYLES */
html {
    font-family: "Roboto Light";
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

/* || BLOCKS */
/* naming: .blk */
.header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 24px;
    font-weight: bold;
    font-size: 2.4em;
    color: core.$COLOR-GREEN;
}

.divider {
    border-bottom: 1px solid core.$COLOR-GRAY-LIGHT;
    margin-top: 24px;
    width: 95%;
}

.footer {
    height: 120px;
    width: 100%;
    color: core.$COLOR-WHITE;
    background-color: core.$COLOR-WOOD;
    padding: 20px;
}

/* || ELEMENTS */
/* no standalone meaning - semantically tied to the block */
/* naming: .blk__item */

/* || MODIFIERS */
/* inremental style changes  */
/* naming: .blk--mod */

/* || MEDIA SELECTORS */

@media (min-width: 600px) {
    .header {
        font-size: 2.6rem;
    }

    .trip-list {
        margin: 60px;
    }
}

@media (min-width: 900px) {
}

@media (min-width: 1200px) {
}
