@use "core";

/* || VARIABLES */

/* || UTILITY CLASSES */
.skeleton {
    opacity: 0.7;
    animation: skeleton-loading 1s linear infinite alternate;
}

.skeleton-text {
    width: 100%;
    height: 0.5em;
    margin-bottom: 0.25em;
    border-radius: 0.125em;
}

.skeleton-text:last-child {
    margin-bottom: 0;
    width: 80%;
}

@keyframes skeleton-loading {
    0% {
        background-color: hsl(200, 20%, 70%);
    }

    100% {
        background-color: hsl(200, 20%, 95%);
    }
}
/* || GENERAL STYLES */

/* || BLOCKS */
.trip-card-empty {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: core.$COLOR-GRAY;
    border-radius: 30px;
    font-size: 1.4rem;
    font-weight: bold;
    font-style: italic;
    color: core.$COLOR-WHITE;
    width: 360px;
    height: 420px;
}

.trip-card {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;

    border: 1px solid core.$COLOR-GREEN;
    border-radius: 30px;
    padding: 13px;
    margin-bottom: 13px;

    box-shadow: 0px 3px 12px 0px rgba(0, 0, 0, 0.1),
        0px 1px 2px 0px rgba(0, 0, 0, 0.08);
}

/* || ELEMENTS */
.trip-card__image {
    width: 340px;
    height: 280px;
    object-fit: cover;
    border-radius: 30px;
}

.trip-card__info {
    padding: 10px;
    width: 100%;
}

.trip-card__text-box {
    margin-bottom: 22px;
}

.trip-card__title {
    font-size: 1.4em;
    font-weight: bold;
    margin-bottom: 12px;
}

.trip-card__text {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.trip-card__button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: center;
    align-self: end;
}

.trip-card__button {
    @extend %button;
}

/* || MODIFIERS */

/* || MEDIA SELECTORS */

@media (min-width: 600px) {
    .trip-card-empty {
        width: 500 px;
        height: 580px;
    }
    .trip-card {
        font-size: 1.2rem;
        margin-bottom: 18px;
    }

    .trip-card__image {
        width: 480px;
        height: 380px;
    }

    .trip-card__text-box {
        margin-bottom: 24px;
    }

    .trip-card__button {
        font-size: medium;
        width: 160px;
        height: 45px;
    }
}

@media (min-width: 900px) {
    .trip-card-empty {
        width: 900px;
        height: 400px;
        font-size: 1.3rem;
    }

    .trip-card {
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
        grid-template-areas:
            "img info"
            "img btn";
        font-size: 1.3rem;
    }

    .trip-card__imagecontainer {
        grid-area: img;
    }
    .trip-card__image {
        width: 480px;
        height: 380px;
    }

    .trip-card__info {
        grid-area: info;
        width: 400px;
        height: 300px;
    }

    .trip-card__text-box {
        margin-bottom: 26px;
    }

    .trip-card__button-container {
        grid-area: btn;
    }
}

@media (min-width: 1200px) {
    .trip-card-empty {
        width: 1000px;
        height: 420px;
        font-size: 1.4rem;
    }

    .trip-card {
        max-width: 1400px;
        font-size: 1.4rem;
        padding: 20px;
        margin-bottom: 20px;
    }

    .trip-card__image {
        width: 520px;
        height: 400px;
    }

    .trip-card__info {
        width: 440px;
        height: 340px;
    }

    .trip-card__text-box {
        margin-bottom: 32px;
    }

    .trip-card__button {
        font-size: large;
        width: 190px;
        height: 55px;
    }
}
